
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Ensemble | MeteoGroup</title>
  <link rel="shortcut icon" type="image/x-icon" href="https://cdn.meteogroup.com/assets/brand/images/favicon.ico">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}" media="all">
</head>
<body>
<h1>Sample
  <div><a href="http://www.meteogroup.com/"><img src="{{ url_for('static',filename='img/PoweredByMG-web_black.png') }}" alt="Powered by MeteoGroup"></a></div>
</h1>
<div class="content">
</div>
<div class="content-footer">
  <br>
  <div class="copy">
    <img src="{{ url_for('static',filename='img/logo_300x80.png') }}">
  </div>
</div>
</body>
</html>
